cilium:
  multicast:
    enabled: true
  ingressController:
    enabled: false
  gatewayAPI:
    enabled: true
  ipam:
    operator:
      clusterPoolIPv4PodCIDRList: [ "10.10.0.0/16" ]
  hubble:
    enableOpenMetrics: true
    metrics:
      enabled:
      - dns:query
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http
      serviceMonitor:
        enabled: true
      dashboards:
        enabled: true
        namespace: victoria-metrics
    relay:
      enabled: true
    ui:
      enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
  kubeProxyReplacement: true
  k8sServiceHost: "192.168.50.100"
  k8sServicePort: 6443
  l2announcements:
    enabled: true
  operator:
    enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    replicas: 2
  egressGateway:
    enabled: true
  bpf:
    masquerade: true
  externalTrafficPolicy: Local
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  envoy:
    enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
