apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: duplicati-tls
  namespace: envoy-gateway-system
spec:
  secretName: duplicati-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - backup.nullservers.com
