apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: default
spec:
  egress:
  - toEndpoints:
    - {}
  - toFQDNs:
    - matchName: docs.nullservers.com
    - matchName: auth.nullservers.com
    - matchName: api.met.no
    - matchPattern: '*.nextcloud.com'
    - matchName: nextcloud.com
    - matchName: github.com
    - matchName: nominatim.openstreetmap.org
    - matchName: api.opentopodata.org
    - matchName: api.met.no
    - matchName: smtp.resend.com
    - matchName: raw.githubusercontent.com
    - matchName: pgsql.nullservers.com
  - toEndpoints:
    - matchLabels:
        io.kubernetes.pod.namespace: collabora
  - toEndpoints:
    - matchLabels:
        io.kubernetes.pod.namespace: kube-system
        k8s-app: kube-dns
    toPorts:
    - ports:
      - port: "53"
        protocol: UDP
      rules:
        dns:
        - matchPattern: '*'
  endpointSelector: {}
  ingress:
  - fromEndpoints:
    - {}
  - fromEndpoints:
    - matchLabels:
        io.kubernetes.pod.namespace: cloudflare
    - matchLabels:
        io.kubernetes.pod.namespace: victoria-metrics
  - fromEntities:
    - ingress
