- name: Install Docker and Docker Compose
  hosts: all
  become: true
  vars_files:
    - vars/secrets.yml
  vars:
    image_immich: "ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:41eacbe83eca995561fe43814fd4891e16e39632806253848efaf04d3c8a8b84"
    image_postgres: "postgres:18-alpine"
  pre_tasks:
    - name: Set PostgreSQL image based on host group
      set_fact:
        postgres_image: "{{ image_immich if inventory_hostname in groups['pgsql-immich'] else image_postgres }}"
      tags: always
      
    - name: Display which PostgreSQL image will be used
      debug:
        msg: "Host {{ inventory_hostname }} will use image: {{ postgres_image }}"
      tags: always
  tasks:
  - name: Install required system packages
    apk:
      name:
      - curl
      - ca-certificates
      - openssl
      - docker
      - docker-compose
      state: present
      update_cache: yes

  - name: Start and enable Docker service
    service:
      name: docker
      state: started
      enabled: yes

  - name: Add user to the docker group (optional)
    user:
      name: "{{ ansible_user | default('alpine') }}"
      groups: docker
      append: yes

  - name: Verify Docker installation
    command: docker --version
    register: docker_version
    changed_when: false

  - name: Show Docker version
    debug:
      msg: "Installed Docker version: {{ docker_version.stdout }}"

  - name: Verify Docker Compose installation
    command: docker-compose --version
    register: compose_version_output
    changed_when: false

  - name: Show Docker Compose version
    debug:
      msg: "Installed Docker Compose version: {{ compose_version_output.stdout }}"

  - name: Create workspace folder on /workspace
    file:
      path: /workspace
      state: directory
      owner: root
      group: root
      mode: 755
    
  - name: Stop existing Docker containers if any
    command: docker-compose -f /workspace/docker-compose.yaml down
    ignore_errors: yes

  - name: Create Docker-Compose file
    template:
      src: docker-compose.yaml.j2
      dest: /workspace/docker-compose.yaml
      owner: root
      group: root
      mode: 644

  - name: Start Docker-Compose
    command: docker-compose -f /workspace/docker-compose.yaml up -d
  
  - name: Ensure Docker containers are running
    command: docker-compose -f /workspace/docker-compose.yaml ps
    register: compose_ps
    changed_when: false
  
  - name: Show Docker-Compose status
    debug:
      msg: "{{ compose_ps.stdout }}" 
