apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: redis
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/manifests/redis
  prune: true
  sourceRef:
    kind: GitRepository
    name: workspace
