apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rustfs
  namespace: rustfs
spec:
  interval: 1h
  chart:
    spec:
      chart: kubernetes/manifests/rustfs
      sourceRef:
        kind: GitRepository
        name: workspace
        namespace: flux-system
      version: ">=0.1.0"

  values:
