apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: plex-tls
  namespace: envoy-gateway
spec:
  secretName: plex-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - plex.nullservers.com
