apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-plex-config
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  storageClassName: nfs-csi-retain
  volumeName: nfs-plex-config
