apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-media
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 4000Gi
  volumeName: plex-media
  storageClassName: nas-media
