---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
  namespace: immich
  labels:
    app.kubernetes.io/instance: immich
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: machine-learning

spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: machine-learning
      app.kubernetes.io/instance: immich
  template:
    metadata:
      labels:
        app.kubernetes.io/name: machine-learning
        app.kubernetes.io/instance: immich
    spec:

      serviceAccountName: default
      automountServiceAccountToken: true
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
      - name: immich-machine-learning
        image: ghcr.io/immich-app/immich-machine-learning:v2.5.5
        imagePullPolicy: IfNotPresent
        env:
        - name: DB_DATABASE_NAME
          value: immich
        - name: DB_HOSTNAME
          value: immich.pgsql.nullservers.com
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: immich-credentials
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              key: username
              name: immich-credentials
        - name: IMMICH_MACHINE_LEARNING_URL
          value: http://immich-machine-learning:3003
        - name: REDIS_HOSTNAME
          value: redis-headless.redis.svc.cluster.local
        - name: TRANSFORMERS_CACHE
          value: /cache
        ports:
        - name: http
          containerPort: 3003
          protocol: TCP
        volumeMounts:
        - name: cache
          mountPath: /cache
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: http
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: http
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
        startupProbe:
          failureThreshold: 60
          httpGet:
            path: /ping
            port: http
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "2"
      volumes:
      - name: cache
        emptyDir: {}
