---
apiVersion: v1
kind: Service
metadata:
  name: immich-server
  namespace: immich
  labels:
    app.kubernetes.io/service: immich-server
    app.kubernetes.io/instance: immich
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: server

  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 2283
    targetPort: http
    protocol: TCP
    name: http
  - port: 8081
    targetPort: metrics-api
    protocol: TCP
    name: metrics-api
  - port: 8082
    targetPort: metrics-ms
    protocol: TCP
    name: metrics-ms
  selector:
    app.kubernetes.io/instance: immich
    app.kubernetes.io/name: server
