network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      addresses:
        - {{ ansible_default_ipv4.address }}/24
      routes:
        - to: default
          via: "{{ ansible_default_ipv4.gateway }}"
      nameservers:
        addresses:
          - "{{ ansible_default_ipv4.gateway }}"